<template>
  <section id="about">
    <v-container fluid class="mt-10">
      <v-card color="primary">
        <v-row align="center" justify="center">
          <v-row justify="center">
            <div class="text-center text-h7 text-lg-h2 ma-6">
              Say Hi to Creators!
            </div>
          </v-row>
          <v-col cols="10">
            <v-row align="center" justify="center">
              <v-col cols="12" md="7">
                <h1 class="font-weight-light display-2">Ajeng Aisyah Rahayu</h1>
                <h1 class="font-weight-light display-1 mb-3">
                  Halo jawa barat!
                </h1>
                <v-row>
                  <v-col cols="12" class="d-flex align-center">
                    <v-img
                      src="https://c.tenor.com/ZDU6zgekVzMAAAAC/girl-anime.gif"
                      max-width="60px"
                      class="mr-4"
                    />
                    <p class="text-justify">
                      Saya seorang mahasiswi di kampus kota bandung bernama UIN
                      sunan gunung djati bandung dan Saya lahir di bandung.
                    </p>
                  </v-col>
                  <v-col cols="12" class="d-flex align-center">
                    <v-img
                      src="https://c.tenor.com/-ICFpUcqHkkAAAAC/skripsi-tidur.gif"
                      max-width="60px"
                      class="mr-4"
                    />
                    <p class="text-justify">
                      Kegiatan Untuk saat ini adalah kurang lebih mengerjakan
                      task dari program jabarcoding lalu saya juga semester
                      akhir dan sedang fokus mengerjakan skripsi.
                    </p>
                  </v-col>
                  <v-col cols="12" class="d-flex align-center">
                    <v-img
                      src="https://i.pinimg.com/originals/f3/b8/63/f3b8633ef36bf0b5085c5d0f6020c919.gif"
                      max-width="60px"
                      class="mr-4"
                    />
                    <p class="text-justify">
                      Sebelumnya saya mau berterima kasih kepada jabar coding
                      camp yang sudah memberi kesempatan untuk saya mengikuti
                      bootcamp ini. saya benar benar mendapatkan banyak ilmu
                      disini terutama coding saya kurang begitu paham logika dan
                      alur bagaimana cara kerja frontend developer, dan karena
                      bootcamp ini saya jadi bisa menjadi lebih mengerti
                      bagaimana menjadi seorang vue js developer.
                    </p>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="12" md="5" class="d-none d-md-flex">
                <v-img
                  src="https://i.solidfiles.com/QnxYqW56KA8NQ.jpeg"
                  class="d-block ml-auto mr-auto"
                  max-width="400px"
                />
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-card>
    </v-container>
    <v-container fluid class="mt-10">
      <v-card color="primary">
        <v-row align="center" justify="center">
          <v-col cols="10">
            <v-row align="center" justify="center">
              <v-col cols="12" md="7">
                <h1 class="font-weight-light display-2">
                  Tiara Yasmine Soraya
                </h1>
                <h1 class="font-weight-light display-1 mb-3">
                  Halo Semua!
                </h1>
                <v-row>
                  <v-col cols="12" class="d-flex align-center">
                    <v-img
                      src="https://i.ibb.co/54rhFLt/aaaa.jpg"
                      max-width="60px"
                      class="mr-4"
                    />
                    <p class="text-justify">
                      Perempuan biasa yang senang belajar bahasa dan sedang
                      mendalami dunia programming.
                    </p>
                  </v-col>
                  <v-col cols="12" class="d-flex align-center">
                    <v-img
                      src="https://i.ibb.co/SnF96Jk/FFX-2-box.jpg"
                      max-width="60px"
                      class="mr-4"
                    />
                    <p class="text-justify">
                      Budaknya kochenk yang hobi bermain game. Hiatus game
                      online karena kecanduan tapi sedang fokus jualan online
                      sambil belajar coding dan namatin Final Fantasy X-2
                    </p>
                  </v-col>
                  <v-col cols="12" class="d-flex align-center">
                    <v-img
                      src="https://i.ibb.co/4295cDp/114966180083e888c1a6a6b89683f2dd.jpg"
                      max-width="60px"
                      class="mr-4"
                    />
                    <p class="text-justify">
                      Terimakasih saya ucapkan kepada seluruh pihak yang terkait
                      di dalam program Jabar Coding Camp 2021 sebab melalui
                      program ini saya mendapat kesempatan yang luar biasa
                      memperdalam ilmu di dunia programming. Porsi latihan ,
                      ilmu , serta penjelasan yang disampaikan para trainer
                      sangat membantu saya dalam memahami ilmu baru khususnya di
                      bidang front end web. Saya merasa masih jauh dari sempurna
                      dalam belajar tapi ilmu baru yang saya dapat akan sangat
                      bermanfaat dikemudian hari untuk diimplementasikan. Sekali
                      lagi terimakasih banyak!
                    </p>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="12" md="5" class="d-none d-md-flex">
                <v-img
                  src="https://i.ibb.co/QKvZgZH/IMG-20200922-112148.jpg"
                  class="d-block ml-auto mr-auto"
                  max-width="400px"
                />
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-card>
    </v-container>
    <v-container fluid class="mt-10 mb-13">
      <v-card color="primary">
        <v-row align="center" justify="center">
          <v-col cols="10">
            <v-row align="center" justify="center">
              <v-col cols="12" md="7">
                <h1 class="font-weight-light display-2">Dikdik Musfar</h1>
                <h3 class="font-weight-light display-1 mb-3">
                  Halo Bandung!
                </h3>
                <v-row>
                  <v-col cols="12" class="d-flex align-center">
                    <v-img
                      src="https://i.pinimg.com/originals/49/43/d4/4943d4ad53947a0bf62bda92c03fd8fb.jpg"
                      max-width="60px"
                      class="mr-4"
                    />
                    <p class="text-justify">
                      Aku adalah seorang pelajar di Bandung. Lahir hingga
                      sekarang tetap di Bandung. Tapi jarang keluar rumah untuk
                      melihat suasana Bandung.
                    </p>
                  </v-col>
                  <v-col cols="12" class="d-flex align-center">
                    <v-img
                      src="https://kuliahdimana.id/public/beasiswa/114966180083e888c1a6a6b89683f2dd.jpg"
                      max-width="60px"
                      class="mr-4"
                    />
                    <p class="text-justify">
                      Sebelumnya aku mau berterima kasih kepada jabar coding
                      camp yang sudah memberi kesempatan untuk aku mengikuti
                      bootcamp ini. Bener - bener seneng banget... Trainer nya
                      baik, temen di kelasnya pun baik. Penjadwalan belajar yang
                      mengharuskan kita belajar setiap hari merupakan metode
                      pembelajaran yang baik di masa pandemi ini.
                    </p>
                  </v-col>
                  <v-col cols="12" class="d-flex align-center">
                    <v-img
                      src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota2_social.jpg"
                      max-width="60px"
                      class="mr-4"
                    />
                    <p class="text-justify">
                      Suka banget main dota. Dota itu bisa bikin aku lupa sama
                      masalah yang aku alami, contohnya waktu itu aku pernah ada
                      masalah dengan diri aku sendiri, ngerasa insecure, bukan
                      waktu itu deh, pokoknya setiap insecure dota selalu
                      membuat aku tenang dan berpikir jernih. Mungkin kata orang
                      bermain game itu hanya hal sepele, tetapi bagi ku, game
                      merupakan tempat healing yang paling tepat.
                    </p>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="12" md="5" class="d-none d-md-flex">
                <v-img
                  src="https://i.pinimg.com/originals/07/67/13/076713849e639aba40b1ea42b8e5f3f9.jpg"
                  class="d-block ml-auto mr-auto"
                  max-width="400px"
                />
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-card>
    </v-container>
  </section>
</template>
