<template>
  <v-container class="fill-height" fluid>
    <v-row justify="center" align="center">
      <v-col>
        <v-card class="d-flex justify-center elevation-6 rounded-xl">
          <v-container fluid>
            <div class="pa-3 ma-8 text-center">
              <h2 class="mb">Add Blog</h2>
            </div>
            <validation-observer ref="observer" v-slot="{ invalid }">
              <div class="mt-8 mb-8 ma-12">
                <form @submit.prevent="submit">
                  <validation-provider
                    v-slot="{ errors }"
                    rules="required|min:3"
                  >
                    <v-text-field
                      v-model="title"
                      :error-messages="errors"
                      label="Title"
                      required
                      name="title"
                      solo
                      rounded
                      placeholder="Enter your title blog here"
                      prepend-icon="mdi-post"
                    />
                  </validation-provider>
                  <validation-provider
                    v-slot="{ errors }"
                    rules="required|min:10"
                  >
                    <v-text-field
                      v-model="description"
                      :error-messages="errors"
                      label="Description"
                      required
                      name="description"
                      solo
                      rounded
                      placeholder="Enter your description blog here"
                      prepend-icon="mdi-book-open-variant"
                    />
                  </validation-provider>
                  <div class="text-xl-center mt-3">
                    <v-row justify="center">
                      <v-btn
                        color="primary"
                        class="mr-4"
                        type="submit"
                        :loading="loading"
                        :disabled="invalid"
                      >
                        submit
                      </v-btn>
                      <v-btn
                        color="purple"
                        class="white--text"
                        :disabled="loading"
                        @click="clearForm"
                      >
                        clear
                      </v-btn>
                      <v-btn
                        color="secondary"
                        class="ml-4"
                        :disabled="loading"
                        @click="closeAddBlog"
                      >
                        <v-icon>mdi-close</v-icon>
                        Cancel
                      </v-btn>
                    </v-row>
                  </div>
                </form>
              </div>
            </validation-observer>
          </v-container>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import { required, min } from "vee-validate/dist/rules";
import {
  extend,
  ValidationObserver,
  ValidationProvider,
  setInteractionMode,
} from "vee-validate";

setInteractionMode("eager");

extend("required", {
  ...required,
  message: "This field can not be empty",
});

extend("min", {
  ...min,
  message: "This field may be greater than {length} characters",
});
export default {
  components: {
    ValidationProvider,
    ValidationObserver,
  },
  data() {
    return {
      title: "",
      description: "",
      error: [],
      domain: "https://demo-api-vue.sanbercloud.com",
      loading: false,
    };
  },
  computed: {
    ...mapGetters({
      token: "auth/getToken",
    }),
  },
  methods: {
    clearForm() {
      this.title = "";
      this.description = "";
    },

    closeAddBlog() {
      this.$router.push("/blogs");
    },

    submit() {
      if (this.error.length === 0) {
        this.loading = true;
        let formData = new FormData();
        formData.append("title", this.title);
        formData.append("description", this.description);

        const config = {
          method: "post",
          url: this.domain + "/api/v2/blog",
          headers: { Authorization: "Bearer " + this.token },
          data: formData,
        };
        this.axios(config)
          .then(() => {
            this.clearForm();
            this.setAction({
              status: true,
              color: "deep-purple darken-2",
              text: "Congratulations, you have successfully added a new blog",
            });
            this.closeAddBlog();
          })
          .catch((error) => {
            console.log(error);
            this.setAction({
              status: true,
              color: "deep-purple darken-2",
              text: error.data,
            });
          })
          .finally(() => (this.loading = false));
      }
    },
    ...mapActions({
      setAction: "alert/setAction",
    }),
  },
};
</script>
