<template>
  <v-row justify="center" class="mt-15">
    <v-col cols="12" xs="12" lg="9">
      <v-btn class="ma-2" fab dark x-large color="cyan" to="/blogs">
        <v-icon dark>mdi-arrow-u-left-top</v-icon>
      </v-btn>
      <v-card>
        <v-img
          :src="
            blog.photo ? domain + blog.photo : 'https://picsum.photos/590/200'
          "
          height="200px"
          class="white--text"
        >
        </v-img>
        <!-- ada text di dalem gambar -->
        <v-card-title
          class="pa-7 text-h6 text-lg-h4 text-capitalize"
          v-text="blog.title"
        >
        </v-card-title>
        <v-divider></v-divider>

        <v-card-text dense>
          <v-simple-table>
            <tbody>
              <tr>
                <td class="text-center pa-3"><v-icon>mdi-key</v-icon> Title</td>
                <td class="blue--text">{{ blog.title }}</td>
              </tr>
              <tr>
                <td class="text-center pa-3">
                  <v-icon> mdi-format-align-justify</v-icon> Description
                </td>
                <td class="blue--text pa-3 ml-4">{{ blog.description }}</td>
              </tr>
            </tbody>
          </v-simple-table>
        </v-card-text>

        <div class="pa-4">
          <v-subheader v-if="!token">You have to login first</v-subheader>

          <v-dialog persistent v-model="dialog" width="80vw">
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                class="mr-3 ml-3"
                v-bind="attrs"
                v-on="on"
                text
                @click="editBlog(blog)"
                :disabled="!token"
              >
                <v-icon>mdi-pencil</v-icon>
                Edit
              </v-btn>
            </template>
            <v-card>
              <v-card-title>
                <v-icon color="grey darken-3">mdi-post</v-icon>
                <span class="text-h5"> Edit Blogs</span>
              </v-card-title>
              <validation-observer ref="observer" v-slot="{ invalid }">
                <v-card-text>
                  <!-- title -->
                  <validation-provider
                    v-slot="{ errors }"
                    name="Title"
                    rules="required"
                  >
                    <v-text-field
                      :error-messages="errors"
                      required
                      v-model="title"
                      rounded
                      label="Judul Blog"
                      prepend-icon="mdi-post"
                    />
                  </validation-provider>

                  <!-- desc -->
                  <validation-provider
                    v-slot="{ errors }"
                    name="Description"
                    rules="required"
                  >
                    <v-text-field
                      :error-messages="errors"
                      required
                      v-model="description"
                      rounded
                      label="Blog Description"
                      prepend-icon="mdi-book-open-variant"
                    />
                  </validation-provider>
                </v-card-text>
                <v-card-actions>
                  <v-row class="ma-3 pa-3">
                    <v-spacer></v-spacer>
                    <v-btn
                      color="blue"
                      text
                      :disabled="invalid"
                      @click="updateBlog(idEditBlog)"
                      :loading="loadingInput"
                      >Edit Blog</v-btn
                    >
                    <v-btn
                      color="blue"
                      :disabled="loadingInput"
                      text
                      @click="dialog = false"
                      >Cancel</v-btn
                    >
                  </v-row>
                </v-card-actions>
              </validation-observer>
            </v-card>
          </v-dialog>
          <v-dialog
            persistent
            transition="dialog-top-transition"
            max-width="600"
            v-model="dialogDelete"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                :disabled="!token"
                class="mr-3"
                text
                v-bind="attrs"
                v-on="on"
              >
                <v-icon>mdi-delete</v-icon>
                Delete
              </v-btn>
            </template>
            <v-card>
              <v-toolbar color="primary" class="text-h5 pb-3 pl-4"
                >Are you sure you want to delete this blog?</v-toolbar
              >
              <v-card-text>
                <div class="text-lg-h6 mt-4 pa-3">
                  Blog that you have deleted cannot be returned
                </div>
              </v-card-text>
              <v-card-actions>
                <v-row class="ma-3 pa-3">
                  <v-spacer></v-spacer>
                  <v-btn
                    color="blue"
                    text
                    :loading="loadingInput"
                    @click="removeBlog(blog.id)"
                    >Delete</v-btn
                  >
                  <v-btn
                    :disabled="loadingInput"
                    color="blue"
                    text
                    @click="dialogDelete = false"
                    >Cancel</v-btn
                  >
                </v-row>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <v-dialog persistent v-model="dialogPhoto" width="50vw">
            <template v-slot:activator="{ on, attrs }">
              <v-btn :disabled="!token" text v-bind="attrs" v-on="on">
                <v-icon>mdi-upload</v-icon>
                Upload Photo
              </v-btn>
            </template>
            <template>
              <v-card>
                <div class="pa-9">
                  <v-card-title>
                    <v-icon color="grey darken-3">mdi-upload</v-icon>
                    <span class="text-h5"> Upload Blog Photo</span>
                  </v-card-title>

                  <validation-observer ref="uploadFile" v-slot="{ invalid }">
                    <validation-provider
                      v-slot="{ errors }"
                      name="Photo"
                      rules="required"
                    >
                      <v-file-input
                        :error-messages="errors"
                        v-model="file"
                        show-size
                        counter
                        label="File input"
                        truncate-length="125"
                        accept="image/*"
                      ></v-file-input>
                    </validation-provider>
                    <v-card-actions>
                      <v-row class="ma-3">
                        <v-btn
                          color="blue"
                          :disabled="invalid"
                          text
                          :loading="loadingPhoto"
                          @click="submitPhoto"
                          >Upload</v-btn
                        >
                        <v-btn
                          color="blue"
                          :disabled="loadingPhoto"
                          text
                          @click="dialogPhoto = false"
                          >Cancel</v-btn
                        >
                      </v-row>
                    </v-card-actions>
                  </validation-observer>
                </div>
              </v-card>
            </template>
          </v-dialog>
        </div>
      </v-card>
    </v-col>
  </v-row>
</template>
<script>
import { mapActions, mapGetters } from "vuex";
import { required } from "vee-validate/dist/rules";
import {
  extend,
  ValidationObserver,
  ValidationProvider,
  setInteractionMode,
} from "vee-validate";

setInteractionMode("eager");

extend("required", {
  ...required,
  message: "This field can not be empty",
});

export default {
  name: "Blog",
  components: {
    ValidationProvider,
    ValidationObserver,
  },
  data() {
    return {
      title: "",
      description: "",
      blog: {},
      error: [],
      domain: "https://demo-api-vue.sanbercloud.com",
      dialog: false,
      dialogPhoto: false,
      dialogDelete: false,
      idEditBlog: null,
      // idUploadBlog: null,
      file: null,
      loadingPhoto: false,
      loadingInput: false,
    };
  },
  computed: {
    ...mapGetters({
      token: "auth/getToken",
    }),
  },
  methods: {
    async go() {
      let { id } = this.$route.params;
      const config = {
        method: "get",
        url: `${this.domain}/api/v2/blog/${id}`,
      };
      this.axios(config)
        .then((response) => {
          console.log(response.data);
          this.blog = response.data.blog;
        })
        .catch((error) => console.log(error));
    },
    editBlog: function(blog) {
      this.title = blog.title;
      this.description = blog.description;
      this.idEditBlog = blog.id;
    },
    clearForm: function() {
      this.title = "";
      this.description = "";
      this.idEditBlog = null;
      // this.idUploadBlog = null
    },
    updateBlog: function(id) {
      this.$refs.observer.validate();
      this.loadingInput = true;
      let formData = new FormData();
      formData.append("title", this.title);
      formData.append("description", this.description);

      let config = {
        method: "post",
        url: `${this.domain}/api/v2/blog/${id}`,
        params: { _method: "PUT" },
        headers: { Authorization: "Bearer " + this.token },
        data: formData,
      };

      this.axios(config)
        .then((response) => {
          this.blog = response.data.blog;
          this.setAction({
            status: true,
            color: "deep-purple darken-2",
            text: "Blog has been successfully edited",
          });
          this.dialog = false;
        })
        .catch((error) => {
          console.log(error);
          this.setAction({
            status: true,
            color: "deep-purple darken-2",
            text: error.data,
          });
        })
        .finally(() => (this.loadingInput = false));
    },
    removeBlog: function(id) {
      this.loadingInput = true;
      const config = {
        method: "post",
        url: `${this.domain}/api/v2/blog/${id}`,
        headers: { Authorization: "Bearer " + this.token },
        params: { _method: "DELETE" },
      };
      this.axios(config)
        .then(() => {
          this.$router.push("/blogs");
          this.setAction({
            status: true,
            color: "deep-purple darken-2",
            text: "Blog has been successfully deleted",
          });
        })
        .catch((error) => {
          console.log(error);
          this.setAction({
            status: true,
            color: "deep-purple darken-2",
            text: error.data,
          });
        })
        .finally(() => (this.loadingInput = false));
    },
    submitPhoto: function() {
      this.$refs.uploadFile.validate();
      this.loadingPhoto = true;
      let formData = new FormData();
      let { id } = this.$route.params;
      formData.append("photo", this.file);

      let config = {
        method: "post",
        url: `${this.domain}/api/v2/blog/${id}/upload-photo`,
        headers: { Authorization: "Bearer " + this.token },
        data: formData,
      };

      this.axios(config)
        .then((response) => {
          this.blog = response.data.blog;
          // this.go()
          // this.$router.push(`/blog/${id}`)
          this.setAction({
            status: true,
            color: "deep-purple darken-2",
            text: "Photo uploaded successfully",
          });
          this.dialogPhoto = false;
          this.file = null;
        })
        .catch((error) => {
          console.log(error);
          this.setAction({
            status: true,
            color: "deep-purple darken-2",
            text: error.data,
          });
        })
        .finally(() => (this.loadingPhoto = false));
    },
    ...mapActions({
      setAction: "alert/setAction",
    }),
  },
  created() {
    this.go();
  },
};
</script>
<style></style>
