<template>
  <v-container>
    <div class="text-left">
      <v-btn x-large text class="blue--text">
        Welcome to our Blog Project <v-icon>mdi-brightness-3</v-icon>
      </v-btn>
    </div>
    <v-layout wrap>
      <blog-item-component 
        v-for="blog in blogs" 
        :key="`blog`+blog.id" 
        :blog="blog"
      ></blog-item-component>
    </v-layout>
    <div class='mt-7'>
      <v-row justify="center">
        <v-btn right x-large to='/blogs' class="blue--text text-right" text>
          All Blogs
          <v-icon>mdi-chevron-right</v-icon>
        </v-btn>
      </v-row>
    </div>
  </v-container>
</template>

<script>
  import BlogComponent from '../components/BlogComponent.vue';
  import {mapGetters,mapActions} from 'vuex'

  export default {
    name: 'Home',
    components:{
      'blog-item-component' : BlogComponent,
    },
    data: () => ({
    apiDomain : 'https://demo-api-vue.sanbercloud.com',
    blogs: [],
    }),
    methods: {
      next () {
        this.onboarding = this.onboarding + 1 === this.length
          ? 0
          : this.onboarding + 1
      },
      prev () {
        this.onboarding = this.onboarding - 1 < 0
          ? this.length - 1
          : this.onboarding - 1
      },
      add(){
        this.incrementAction(10)
      },
      ...mapActions({
        'incrementAction' : 'counter/incrementAction',
        'inputArticles': 'news/inputArticles'}),
      
      getIndex(blog){
        let index = this.getArticles.map(e=>e.title).indexOf(blog.title)
        return index
      },
      
      async go(){
          const config = {
          method : 'get',
          url : this.apiDomain + '/api/v2/blog/random/4'
        }

        this.axios(config)
          .then(response => {
            let { blogs } = response.data;
            this.blogs = blogs;

          })
          .catch(error => {
            console.log(error);
          });

        },
    },
    computed:{
      ...mapGetters({
        'getCount': 'counter/getCount',
        })
    },
    async created(){
      await this.go()
    }
  }
</script>
