<template lang="">
  <v-card
    class="mx-auto"
    color="#26c6da"
    dark
    max-width="400"
    :to="routeMethod(blog)"
  >
    <v-card-title>
      <v-icon large left>
        mdi-apple
      </v-icon>
      <span class="text-h6 font-weight-light">{{ blog.title }}</span>
    </v-card-title>

    <v-card-text class="text-h5 font-weight-bold">
      {{ blog.description.substring(0, 20) }}...
    </v-card-text>

    <v-card-actions>
      <v-list-item class="grow">
        <v-list-item-avatar color="grey darken-3">
          <v-img
            class="elevation-6"
            alt=""
            :src="
              blog.photo
                ? apiDomain + blog.photo
                : 'https://picsum.photos/200/300'
            "
          ></v-img>
        </v-list-item-avatar>

        <v-list-item-content>
          <v-list-item-title>{{ blog.title }}</v-list-item-title>
        </v-list-item-content>

        <v-row align="center" justify="end">
          <v-icon class="mr-1">
            mdi-fullscreen
          </v-icon>
          <span class="subheading mr-2">Detail</span>
        </v-row>
      </v-list-item>
    </v-card-actions>
  </v-card>
</template>
<script>
export default {
  props: ["blog", "index"],
  data() {
    return {
      domain: "https://demo-api-vue.sanbercloud.com",
    };
  },
  methods: {
    dataMethod(blog) {
      if (blog.description) {
        return blog.description.slice(0, 30);
      } else if (blog.summary) {
        return blog.summary.slice(0, 30);
      } else return "/error";
    },
    routeMethod(blog) {
      if (blog.description) {
        return "/blog/" + blog.id;
      } else if (blog.summary) {
        return "/news/" + this.index;
      } else return "/error";
    },
    photoMethod(blog) {
      if (blog.description) {
        return blog.photo
          ? this.domain + blog.photo
          : "https://picsum.photos/400/200";
      } else if (blog.summary) {
        return blog.media ? blog.media : "https://picsum.photos/400/200";
      } else return "/error";
    },
  },
};
</script>
<style lang=""></style>
