<template>
  <v-card class="d-flex justify-center" width="100vw" color="background">
    <v-container class="fill-height" fluid>
      <v-row align="center" justify="center">
        <v-col cols="12" lg="5" md="8" sm="8">
          <v-card
            class="d-flex justify-center elevation-6 rounded-xl"
            color="anchor lighten"
          >
            <v-container fluid>
              <v-row align="center" justify="center">
                <v-col cols="12" lg="10">
                  <validation-observer ref="observer" v-slot="{ invalid }">
                    <v-form ref="form" class="pa-5 pb-10 mt-2">
                      <!-- Header -->
                      <div class="pa-3 text-left">
                        <div class=" d-flex justify-space-between">
                          <h1 class="mb">Login</h1>
                        </div>
                        <v-divider />
                        <p class="mt-5 ">Welcome to Blog</p>
                      </div>
                      <div class="mt-5 mb-8">
                        <!-- Email Field -->
                        <validation-provider
                          v-slot="{ errors }"
                          name="Email"
                          rules="required|email"
                        >
                          <v-text-field
                            name="email"
                            v-model="email"
                            :error-messages="errors"
                            label="E-mail"
                            required
                            solo
                            rounded
                            placeholder="Enter your email here..."
                            prepend-icon="mdi-email"
                          />
                        </validation-provider>

                        <!-- Password Field -->
                        <validation-provider
                          v-slot="{ errors }"
                          name="Password"
                          rules="required"
                        >
                          <v-text-field
                            :error-messages="errors"
                            name="password"
                            v-model="password"
                            label="Password"
                            required
                            solo
                            rounded
                            placeholder="Enter your password here..."
                            :prepend-icon="
                              showPassword ? 'mdi-eye' : 'mdi-eye-off'
                            "
                            :type="showPassword ? 'text' : 'password'"
                            @click:prepend="showPassword = !showPassword"
                          />
                        </validation-provider>
                      </div>

                      <!-- Login Button -->
                      <div class="text-xl-center mt-3">
                        <v-row justify="center">
                          <v-btn
                            color="primary"
                            :loading="loading"
                            medium
                            @click="submit"
                            :disabled="invalid"
                          >
                            <v-icon left small>mdi-lock</v-icon> &nbsp; Login
                          </v-btn>
                        </v-row>
                      </div>
                      <!-- Close Button -->
                      <div class="text-xl-center mt-5 mb-3">
                        <v-row justify="center">
                          <v-btn
                            color="secondary"
                            :disabled="loading"
                            medium
                            @click="close"
                          >
                            <v-icon left small>mdi-close</v-icon> &nbsp; Close
                          </v-btn>
                        </v-row>
                      </div>
                    </v-form>
                  </validation-observer>
                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-card>
</template>
<script>
import { mapActions} from "vuex";
import { required, email } from "vee-validate/dist/rules";
import {
  extend,
  ValidationObserver,
  ValidationProvider,
  setInteractionMode,
} from "vee-validate";

setInteractionMode("eager");

extend("required", {
  ...required,
  message: "{_field_} can not be empty",
});

extend("email", {
  ...email,
  message: "Email must be valid",
});

export default {
  components: {
    ValidationProvider,
    ValidationObserver,
  },
  data() {
    return {
      showPassword: false,
      loading: false,
      email: "",
      password: "",
      domain: "https://demo-api-vue.sanbercloud.com",
    };
  },
  methods: {
    ...mapActions({
      setAlert: "alert/setAction", // munculin alert
      setToken: "auth/setToken", // ngeset token
    }),
    close() {
      this.$emit("closed", false);  //menutup dialog dan kembali ke semula
    },
    submit() {
      this.$refs.observer.validate(); //validasi data
      this.loading = true; //membuat loading
      const config = {
        method: "post",
        url: this.domain + "/api/v2/auth/login",
        data: {
          email: this.email,
          password: this.password,
        },
      };
      this.axios(config)
        .then((response) => {
          console.log(response.data);
          this.loading = false; //berhenti loading
          this.setToken(response.data.access_token);
          this.setAlert({
            status: true,
            color: "success",
            text: "Login Berhasil",
          });
          this.close(); //menutup otamatis
        })
        .catch((response) => {
          console.log(response);
          this.loading = false;
          this.setAlert({
            status: true,
            color: "error",
            text: "Login Gagal",
          });
        });
    },
  },
};
</script>
<style scoped>
.v-btn {
  width: 200px;
}
</style>
