<template>
  <v-card class="d-flex justify-center" width="100vw" color="background">
    <v-container class="fill-height" fluid>
      <v-row align="center" justify="center">
        <v-col cols="12" lg="5" md="8" sm="8">
          <v-card
            class="d-flex justify-center elevation-6 rounded-xl"
            color="anchor lighten"
          >
            <v-container fluid>
              <v-row align="center" justify="center">
                <v-col cols="12" lg="10">
                  <validation-observer ref="observer" v-slot="{ invalid }">
                    <v-form ref="form" class="pa-3 pb-5 mt-2">
                      <!-- Header -->
                      <div class="pa-3 text-left">
                        <div class=" d-flex justify-space-between">
                          <h1 class="mb">Sign Up</h1>
                        </div>
                        <v-divider></v-divider>
                        <p class="mt-5 ">
                          Fill out the form below to create your account!
                        </p>
                      </div>
                      <div class="mt-5 mb-8">
                        <!-- Email Field -->
                        <validation-provider
                          v-slot="{ errors }"
                          name="Email"
                          rules="required|email"
                        >
                          <v-text-field
                            name="email"
                            v-model="email"
                            :error-messages="errors"
                            label="E-mail"
                            required
                            solo
                            rounded
                            placeholder="Enter your email here..."
                            prepend-icon="mdi-email"
                          />
                        </validation-provider>

                        <!-- Name Field -->

                        <validation-provider
                          v-slot="{ errors }"
                          name="Name"
                          rules="required"
                        >
                          <v-text-field
                            :error-messages="errors"
                            name="name"
                            v-model="name"
                            label="Name"
                            required
                            solo
                            rounded
                            prepend-icon="mdi-account"
                          />
                        </validation-provider>

                        <!-- Password Field -->
                        <validation-provider
                          v-slot="{ errors }"
                          name="Password"
                          rules="required"
                        >
                          <v-text-field
                            :error-messages="errors"
                            name="password"
                            v-model="password"
                            label="Password"
                            required
                            solo
                            rounded
                            :prepend-icon="
                              showPassword ? 'mdi-eye' : 'mdi-eye-off'
                            "
                            :type="showPassword ? 'text' : 'password'"
                            @click:prepend="showPassword = !showPassword"
                          />
                        </validation-provider>

                        <!-- Avatar Input Field -->
                        <validation-provider
                          v-slot="{ errors }"
                          name="Avatar"
                          rules="required"
                        >
                          <v-file-input
                            :error-messages="errors"
                            v-model="file"
                            name="uploadfile"
                            label="Select image for avatar..."
                            truncate-length="125"
                            accept="image/*"
                            required
                            rounded
                            solo
                          />
                        </validation-provider>
                      </div>
                      <!-- Submit Button -->
                      <div class="text-xl-center mt-3">
                        <v-row justify="center">
                          <v-btn
                            color="primary"
                            :loading="loading"
                            medium
                            @click="submit"
                            :disabled="invalid"
                          >
                            <v-icon left small>mdi-lock</v-icon> &nbsp; Sign me
                            up
                          </v-btn>
                        </v-row>
                      </div>

                      <!-- Close Button -->
                      <div class="text-xl-center mt-5 mb-3">
                        <v-row justify="center">
                          <v-btn
                            color="secondary"
                            :disabled="loading"
                            medium
                            @click="close"
                          >
                            <v-icon left small>mdi-close</v-icon> &nbsp; Close
                          </v-btn>
                        </v-row>
                      </div>
                    </v-form>
                  </validation-observer>
                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-card>
</template>
<script>
import { mapActions} from "vuex";
import { required, email } from "vee-validate/dist/rules";
import {
  extend,
  ValidationObserver,
  ValidationProvider,
  setInteractionMode,
} from "vee-validate";
setInteractionMode("eager");

extend("required", {
  ...required,
  message: "{_field_} can not be empty",
});

extend("email", {
  ...email,
  message: "Email must be valid",
});

export default {
  components: {
    ValidationProvider,
    ValidationObserver,
  },
  data() {
    return {
      showPassword: false,
      email: "",
      password: "",
      name: "",
      file: null,
      domain: "https://demo-api-vue.sanbercloud.com",
      loading: false,
    };
  },
  methods: {
    ...mapActions({
      setAlert: "alert/setAction", //buat munculin alert
      setToken: "auth/setToken",  //untuk nge set tokennya
    }),
    close() {
      this.$emit("closed", false);
    },
    clearform() {
      (this.email = ""),
        (this.password = ""),
        (this.name = ""),
        (this.file = null);
    },

    submit() {
      this.$refs.observer.validate();
      this.loading = true;
      let formdata = new FormData();
      formdata.append("email", this.email);
      formdata.append("password", this.password);
      formdata.append("name", this.name);
      formdata.append("photo_profile", this.file);

      const config = {
        method: "post",
        url: this.domain + "/api/v2/auth/register",
        data: formdata,
      };
      this.axios(config)
        .then((response) => {
          this.loading = false;
          console.log(response.data);
          this.clearform();
          this.setAlert({
            status: true,
            color: "success",
            text: "Register Berhasil",
          });
          this.close();
        })
        .catch((error) => {
          console.log(error.response.data);
          this.loading = false;
          this.setAlert({
            status: true,
            color: "error",
            text: "Register Gagal",
          });
        });
    },
  },
}; //te
</script>
